<% layout("./layouts/boilerplate.ejs")-%><body>
   
    <form action="/listings/<%=list[0]._id%>/edits?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="row">
        <div class="col-8 offset-2"> 
        <div class="mb-3"> 
        <h3>Edit</h3>
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="listing[title]" placeholder="Add a catchy title" required class="form-control" value="<%=list[0].title%>">
    <div class="valid-feedback">
            Title Looks Good !
        </div>   
    </div>

        <div class="mb-3">
       <label for="description">Description</label>
       <textarea name="listing[description]" id="description" placeholder="Enter Description" required class="form-control" style="resize: none;"><%=list[0].description%></textarea>
     <div class="invalid-feedback">
        Please enter a short description !
    </div>
    </div>
       
        <div class="mb-3">
            Origional Listing Image: <br>
        <img src="<%=origionalUrl%>" alt="listing Image">
        </div> 

       <div class="mb-3">
        <label for="imgurl" class="form-label">Upload New Image:</label>
       <input id="imgurl" type="file" name="listing[image]" class="form-control">
        </div> 

       <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price:</label>
       <input type="number" id="price" name="listing[price]" placeholder="Enter Price" required class="form-control" value="<%=list[0].price%>">
     <div class="invalid-feedback">
        Please Enter a Valid Price !
    </div>   
    </div>
       
        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country:</label>
       <input type="text" id="country" name="listing[country]" placeholder="Enter Country Name" required class="form-control" value="<%=list[0].country%>">
     <div class="invalid-feedback">
        Please Enter a Valid City !
    </div>   
    </div>
       </div>
       
       
    
       <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
       <input type="text" id="location" name="listing[location]" placeholder="Enter location" required class="form-control" value="<%=list[0].location%>">
    <div class="invalid-feedback">
        Location should be valid !
    </div>   
    </div> 
       
       <button class="btn btn-dark">Update</button>
        <br><br>
    
    </div></div>

</div></div>
   
    </form>
</body>
