<% layout("./layouts/boilerplate.ejs")-%><body>
    <h3>Edit</h3>
    <form action="/listings/<%=list[0]._id%>/edits?_method=PUT" method="POST">
       <input type="text" name="listing[title]" placeholder="Enter title" required value="<%=list[0].title%>">
       <br><br>
       <textarea name="listing[description]" placeholder="Enter Description" required ><%=list[0].description%></textarea>
       <br><br>
       <input type="text" name="listing[img]" placeholder="Enter image URL/Link" value="<%=list[0].img%>">
        <br><br>
       <input type="number" name="listing[price]" placeholder="Enter Price" required value="<%=list[0].price%>">
       <br><br>
       <input type="text" name="listing[country]" placeholder="Enter country" required value="<%=list[0].country%>">
       <br><br>
       <input type="text" name="listing[location]" placeholder="Enter location" required value="<%=list[0].location%>">
        <button>Submit</button>
    </form>
</body>
